#!/bin/bash

os=$(uname)

env_osx() {
  if command -v gls &> /dev/null; then
    _ls_command="gls"
  else
    _ls_command="ls"
  fi
  case "$_ls_command" in
    ls)  color='-G'           ;;
    gls) color="--color=auto" ;;
  esac
  alias xclip='pbcopy'
}

env_linux() {
  color='--color=auto'
}

case "$os" in
  Darwin) env_osx   ;;
  Linux)  env_linux ;;
esac

alias l='${_ls_command} -CF ${color}'
alias l.='${_ls_command} -d .*[^.$] ${color} 2>/dev/null'
alias la='${_ls_command} -A ${color}'
alias lah='${_ls_command} -lah ${color}'
alias ls='${_ls_command} ${color}'
alias ll.='${_ls_command} -dl .*[^.$] ${color} 2>/dev/null'
alias ll='${_ls_command} -AlF ${color}'
alias lla='${_ls_command} -AlFh ${color}'

alias h='history'
alias hsr='history | rg '

alias fdi="fd -I"
alias fdip="fd -I --full-path"
alias fdh="fd -HI -E '.git/*'"
alias fdhp="fd -HI -E '.git/*' --full-path"
alias fdp="fd --full-path"

#alias grep='grep --color=auto 2>/dev/null'
#alias grep='ag $*' 2>/dev/null
alias tree='tree -a -I .git'
alias dtree='tree -ad -I .git'

# open file manager cwd
alias e.='nautilus . 2>/dev/null'

#export TERM=xterm-256colors
#export TERM=screen-256colors
#export TERM=gnome-256colors
#export TERM=mate-terminal

# docker
alias d='docker'
alias dm='docker-machine'
docker_select() {
  eval $(docker-machine env "$1")
}
alias dms='docker_select'

# brew
alias bi='brew info'
alias bs='brew search'
alias bl='brew list'
alias blr='brew list | rg '

# cat
# alias k='cat'
# alias k='rich'
alias k='gat'
alias cg='cargo'

# overload ag
alias ag='ag --hidden --ignore-dir .git'

# ansible
alias ap='ansible-playbook'
alias ad='ansible-doc'
alias al='ansible-lint'

# gopass
alias p='gopass'

# rsync
alias qcp='rsync -avzh'

# vagrant
alias v='vagrant'

# salt
#alias sc='salt-cloud -c ./salt'

# neovim
alias vi='nvim'

# blind
alias viu='vi -u NONE'

# neovim config
alias vic='nvim ~/.config/nvim/init.lua'
alias luamake=~/.cache/nvim/lspconfig/sumneko_lua/lua-language-server/3rd/luamake/luamake

# loop
alias lo='_lo '

# search dot files
agdf_imp() {
  ag $* $(ls -dFL .* | ag -v "(/)$" | ag -v "(\*)$" | ag -v history)
}
alias agdf='agdf_imp '

# dotfile configuration
alias config='git --git-dir=$HOME/.files.git --work-tree=$HOME --no-pager'
alias c='config '
alias ca='config add '
alias cci='config commit -v '
alias ciu='config status -s -u '
alias c.d='config difftool '

# shellcheck disable=1090
[ -f ~/.aliases.local ] && . ~/.aliases.local

# kubernetes
alias xp='crossplane'
alias fls='flux reconcile source git '
alias flh='flux reconcile source helm '
alias flk='flux reconcile kustomization '

# kubernetes
alias kk='kubectl'
alias kkc='kubectx'
alias kkn='kubens'
alias kko='kubectl get -o name '
kkf() {
  kubectl get -o name "$@" | xargs -P 10 kubectl patch -p '{"metadata":{"finalizers": null}}' --type merge
}

# kustomize
alias kit='kustomize build --enable-helm '
kb() {
  kustomize build "$@"
}
kc() {
  kustomize cfg "$@"
}
kcg() {
  kc grep "$@"
}
kct() {
  target="$1" ; shift
  kustomize cfg tree "$target" "$@"
}
kcte() {
  target=$1 ; shift
  kct "environments/$target" "$@"
}
alias krp='kc grep'
kbc() {
  target=$1 ; shift
  kb "$target" | kc grep "$@"
}
kbce() {
  target=$1 ; shift
  kbc "environments/$target" "$@"
}
kbte() {
  target=$1 ; shift
  kb "environments/$target" | kct - "$@"
}
kbet() {
  target=$1 ; shift
  project=$1 ; shift
  kbe "$target" "$project" | kct - "$@"
}
kbeta() {
  target=$1 ; shift
  project=$1 ; shift
  kbe "$target" "$project" | kct - --all
}
kbi() {
  kbe "$1" "$2" | kcg kind=Ingress
}
kbil() {
  kbc "$1" "kind=Ingress"
}
kbile() {
  kbil "environments/$1"
}
kbe() {
  kbce "$1" "metadata.name=$2"
}
kca() {
  kbe "$1" "$2" | kct - --all
}


# python 3
alias python=/usr/local/bin/python3.12
alias pip=/usr/local/bin/pip3.12

# vifm
alias vf='vifm'

## yabai
#  restat yabai quickly
#  # ctrl + alt + cmd - r : launchctl kickstart -k "gui/${UID}/homebrew.mxcl.yabai"
alias reup='launchctl kickstart -k "gui/${UID}/com.koekeishiya.yabai"'

# clangd
#alias clangd='/usr/local/Cellar/llvm/10.0.1_1/bin/clangd'

#  clear
#
alias cls='clear'

#  ssh
##
alias ssh='TERM=xterm-256color ssh '

###  tmux
###
alias t='tmux'
alias ta='t a -t'
alias tls='t ls'
alias tn='t new -t'

###  jenkins
###
alias js='jen s'
# alias jc='jen co'

###  ruby
###
alias ruby='/usr/local/opt/ruby/bin/ruby'
alias gem='/usr/local/opt/ruby/bin/gem'

###  terraform
###
alias tf='terraform'
alias tfw='tf workspace'

###  fun stuff
###
alias wo='command -v'
alias wow='which -a'
alias woa='which -a'
alias we='watchexec'
