#!/bin/bash

os=$(uname)

env_osx() {
  if command -v gls &> /dev/null; then
    _ls_command="gls"
  else
    _ls_command="ls"
  fi
  case "$_ls_command" in
    ls)  color='-G'           ;;
    gls) color="--color=auto" ;;
  esac
  alias xclip='pbcopy'
}

env_linux() {
  color='--color=auto'
}

case "$os" in
  Darwin) env_osx   ;;
  Linux)  env_linux ;;
esac

alias ai="tgpt "

alias l='${_ls_command} -CF ${color}'
alias l.='${_ls_command} -d .*[^.$] ${color} 2>/dev/null'
alias la='${_ls_command} -A ${color}'
alias lah='${_ls_command} -lah ${color}'
alias ls='${_ls_command} ${color}'
alias ll.='${_ls_command} -dl .*[^.$] ${color} 2>/dev/null'
alias ll='${_ls_command} -AlF ${color}'
alias lla='${_ls_command} -AlFh ${color}'

__lsna_core() {
  alias | sed 's/=.*$//g'
}
_lsna() {
  if [[ -v 1 ]]; then
    __lsna_core | rg $1 | column
  else
    __lsna_core | column
  fi
}
__lsna_start_of_line() {
  _lsna ^$*
}
__lsna_switch() {
  if [ "$#" -eq 0 ]; then
    __lsna_core | sk
  else
    if [ "$#" -eq 1 ]; then
      __lsna_core | rg $1 | column
    fi
  fi
}
alias lsn='__lsna_switch $*'
alias lsna='__lsna_start_of_line $*'

# alias h='history'
# alias hsr='history | rg '
alias h='fc -El 0 '
alias hsr='fc -El 0 | rg '

alias fd.="fd -H "
alias fdi="fd -I"
alias fdip="fd -I --full-path"
alias fdh="fd -HI -E '.git/*'"
alias fdhp="fd -HI -E '.git/*' --full-path"
alias fdp="fd --full-path"

alias fm='fzf-make '

#alias grep='grep --color=auto 2>/dev/null'
#alias grep='ag $*' 2>/dev/null
alias tree='tree -a -I .git'
alias dtree='tree -ad -I .git'

# open file manager cwd
alias e.='yazi .'

#export TERM=xterm-256colors
#export TERM=screen-256colors
#export TERM=gnome-256colors
#export TERM=mate-terminal

# docker
alias d='docker'
alias dm='docker-machine'
docker_select() {
  # shellcheck disable=2046
  eval $(docker-machine env "$1")
}
alias dms='docker_select'

# brew
alias bi='brew info'
alias bs='brew search'
alias bl='brew list'
alias blr='brew list | rg '
alias blv='brew leaves '
# alias bud='brew update && brew upgrade'
alias bup='brew update'
alias bupg='brew upgrade'

# cat
# alias k='cat'
# alias k='rich'

# _cat_imp() {
#   if command -v bat &> /dev/null; then
#     bat -p $*
#   else
#     gat $*
#   fi
# }
# alias k='_cat_imp '
alias k='bat '
alias cg='cargo'

# overload ag
alias ag='ag --hidden --ignore-dir .git'

# ansible
alias ap='ansible-playbook'
alias ad='ansible-doc'
alias al='ansible-lint'

# gopass
alias p='gopass'

# rsync
alias qcp='rsync -avzh'

# vagrant
alias v='vagrant'

# salt
#alias sc='salt-cloud -c ./salt'

# neovim
alias vi='nvim'

# blind
alias viu='vi -u NONE'

# neovim config
alias vic='nvim ~/.config/nvim/init.lua'
alias luamake=~/.cache/nvim/lspconfig/sumneko_lua/lua-language-server/3rd/luamake/luamake
alias ntmp="nix run 'github:BirdeeHub/nixCats-nvim?dir=templates/example' "

# loop
alias lo='_lo '

# search dot files
agdf_imp() {
  # shellcheck disable=2048,2086,2046,2012
  # ag $* $(ls -dFL .* | ag -v "(/)$" | ag -v "(\*)$" | ag -v history)
  rg "$*" $(ls -dFL .* | rg -v "(/)$" | rg -v "(\*)$" | rg -v history)
}
alias agdf='agdf_imp '
rgdf() {
  # shellcheck disable=2048,2086,2046,2012
  # ag $* $(ls -dFL .* | ag -v "(/)$" | ag -v "(\*)$" | ag -v history)
  rg $* $(ls -dFL .* | rg -v bitwarden | rg -v "(/|\*|history)$")
}
_typos_in_dot_files() {
  fd -t f -d 1 -H --regex '^\.' -E .zsh_history -E .zcompdump -E .lesshst | typos --exclude '.zsh_history' --file-list -
}
alias t.='_typos_in_dot_files '

# search files
alias rgl='rg -l '

# dotfile configuration
_dot_config() {
  git --git-dir=$HOME/.files.git --work-tree=$HOME --no-pager $*
}
alias config='_dot_config $* '
alias c='_dot_config $* '
alias conf='_dot_config $* '
alias ca='_dot_config add '
alias cci='_dot_config $* commit -v '
alias ciu='_dot_config $* status -s -u '
alias c.d='_dot_config $* difftool '

# bash help
alias help='bbh '
function anybar() { echo -n $1 | nc -4u -w0 localhost ${2:-1738}; }

# shellcheck disable=1090
[ -f ~/.aliases.local ] && . ~/.aliases.local

# kubernetes
alias xp='crossplane'
alias fls='flux reconcile source git '
alias flh='flux reconcile source helm '
alias flk='flux reconcile kustomization '

# kubernetes
# shellcheck disable=2046,2139
alias kubectl=$( if command -v kubecolor ; then echo kubecolor ; else echo kubectl ; fi)
# compdef kubecolor=kubectl
alias kk='kubectl'
alias kkc='kubectx'
alias kkn='kubens'
alias kko='kubectl get -o name '
kkf() {
  kubectl get -o name "$@" | xargs -P 10 kubectl patch -p '{"metadata":{"finalizers": null}}' --type merge
}

# kustomize
alias kit='kustomize build --enable-helm '
kb() {
  kustomize build "$@"
}
kc() {
  kustomize cfg "$@"
}
kcg() {
  kc grep "$@"
}
kct() {
  target="$1" ; shift
  kustomize cfg tree "$target" "$@"
}
kcte() {
  target=$1 ; shift
  kct "environments/$target" "$@"
}
alias krp='kc grep'
kbc() {
  target=$1 ; shift
  kb "$target" | kc grep "$@"
}
kbce() {
  target=$1 ; shift
  kbc "environments/$target" "$@"
}
kbte() {
  target=$1 ; shift
  kb "environments/$target" | kct - "$@"
}
kbet() {
  target=$1 ; shift
  project=$1 ; shift
  kbe "$target" "$project" | kct - "$@"
}
kbeta() {
  target=$1 ; shift
  project=$1 ; shift
  kbe "$target" "$project" | kct - --all
}
kbi() {
  kbe "$1" "$2" | kcg kind=Ingress
}
kbil() {
  kbc "$1" "kind=Ingress"
}
kbile() {
  kbil "environments/$1"
}
kbe() {
  kbce "$1" "metadata.name=$2"
}
kca() {
  kbe "$1" "$2" | kct - --all
}

###  nix
###
alias nf='nix flake '
alias ns='nix-search '
alias nsd='nix-search -dm 3 '
alias nsdp='nix-search -dm 3 -p '
alias nspd='nix-search -dm 3 -p '
alias nsp='nix-search -p '
alias np='nix profile '
alias nph='nix profile history '
alias npa='nix profile add '
alias npi='nix profile add '
alias npl='nix profile list'
alias npr='nix profile remove '
alias npu='nix profile upgrade '
alias npua='nix profile upgrade --all '

# vcluster
alias vc='vcluster '
alias vcp='vcluster platform '

# python 3
# if [ -z "$IN_NIX_SHELL" ] ; then
#   alias python=${HOMEBREW_PREFIX}/bin/python3
#   alias pip=${HOMEBREW_PREFIX}/bin/pip3
# fi

# vifm
alias vf='vifm'

## yabai
#  restart yabai quickly
#  # ctrl + alt + cmd - r : launchctl kickstart -k "gui/${UID}/homebrew.mxcl.yabai"
# alias reup='launchctl kickstart -k "gui/${UID}/com.koekeishiya.yabai"'
alias reup='yabai --restart-service'

## aerospace
alias as='aerospace '
alias a='aerospace '

# clangd
#alias clangd='/usr/local/Cellar/llvm/10.0.1_1/bin/clangd'

#  clear
#
alias cls='clear'

#  ssh
##
alias ssh='TERM=xterm-256color ssh '

###  tmux
###
alias t='tmux'
alias ta='t a -t'
alias tlk='t lsk '
alias tlkt='t lsk -T$* '
alias tls='t ls'
alias tn='t new -t'
alias tkt="tlk | cut -d' ' -f6 | sort | uniq | rg -v '^$'"

###  jenkins
###
alias js='jen s'
# alias jc='jen co'

###  ruby
###
# alias ruby='/usr/local/opt/ruby/bin/ruby'
# alias gem='/usr/local/opt/ruby/bin/gem'

###  terraform
###
alias tf='terraform'
alias tfw='tf workspace'

###  fun stuff
###
alias wo='command -v'
alias wow='which -a'
alias woa='which -a'
alias we='watchexec'

###  yabai focus fuzzy window
###
__yabai_select() {
  yabai -m query --windows $1 | jq '.[] | "\(.id) : \(.["stack-index"]) : \(.space) : \(.title)"'
}
__yabai_select_in_space() {
  yabai -m query --windows --space | jq '.[] | "\(.id) : \(.["stack-index"]) : \(.space) : \(.title)"'
}

__yabai_select_fuzzy() {
  __yabai_select | sk
}
__yabai_select_fuzzy_in_space() {
  __yabai_select_in_space | sk
}

__yabai_select_fuzzy_id() {
  __yabai_select_fuzzy | cut -d' ' -f 1 | sed 's/"//g'
}
__yabai_select_fuzzy_id_in_space() {
  __yabai_select_fuzzy_in_space | cut -d' ' -f 1 | sed 's/"//g'
}

__yabai_focus_window() {
  yabai -m window --focus $(__yabai_select_fuzzy_id)
}
__yabai_focus_window_in_space() {
  yabai -m window --focus $(__yabai_select_fuzzy_id_in_space)
}

alias yls='__yabai_select'
alias yls.='__yabai_select_fuzzy_in_space'
alias yls..='__yabai_select_fuzzy_id'

alias fw='__yabai_focus_window'
alias fwl='__yabai_focus_window_in_space'

###  dotbare
###
alias .f='dotbare '
alias .ff='dotbare fgrep '

### zscaler
###
alias start-zscaler="open -a /Applications/Zscaler/Zscaler.app --hide; sudo find /Library/LaunchDaemons -name '*zscaler*' -exec launchctl load {} \;"
alias kill-zscaler="find /Library/LaunchAgents -name '*zscaler*' -exec launchctl unload {} \;;sudo find /Library/LaunchDaemons -name '*zscaler*' -exec launchctl unload {} \;"

### dns cache flusher
alias flushdns='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder'

### fzf hooks
###
# Redefine this function to change the options
_fzf_git_fzf() {
  fzf --height 50% --tmux 90%,70% \
    --layout reverse --multi --min-height 20+ --border \
    --no-separator --header-border horizontal \
    --border-label-pos 2 \
    --color 'label:blue' \
    --preview-window 'right,50%' --preview-border line \
    --bind 'ctrl-/:change-preview-window(down,50%|hidden|)' "$@"
}

unalias gco &> /dev/null
gco() {
  _fzf_git_fzf --no-multi | xargs git checkout
}
# gswt() {
#   cd "$(_fzf_git_worktrees --no-multi)"
# }

# fshow - git commit browser
fshow() {
  git log --graph --color=always \
      --format="%C(auto)%h%d %s %C(black)%C(bold)%cr" "$@" |
  fzf --ansi --no-sort --reverse --tiebreak=index --bind=ctrl-s:toggle-sort \
      --bind "ctrl-m:execute:
                (grep -o '[a-f0-9]\{7\}' | head -1 |
                xargs -I % sh -c 'git show --color=always % | less -R') << 'FZF-EOF'
                {}
FZF-EOF"
}

# ch - browse chrome history
ch() {
  local cols sep google_history open
  cols=$(( COLUMNS / 3 ))
  sep='{::}'

  if [ "$(uname)" = "Darwin" ]; then
    google_history="$HOME/Library/Application Support/Google/Chrome/Default/History"
    open=open
  else
    google_history="$HOME/.config/google-chrome/Default/History"
    open=xdg-open
  fi
  cp -f "$google_history" /tmp/h
  sqlite3 -separator $sep /tmp/h \
    "select substr(title, 1, $cols), url
     from urls order by last_visit_time desc" |
  awk -F $sep '{printf "%-'$cols's  \x1b[36m%s\x1b[m\n", $1, $2}' |
  sk --ansi --multi | sed 's#.*\(https*://\)#\1#' | xargs $open > /dev/null 2> /dev/null
}

source ~/.config/zsh/wt.zsh
