[include]
  path = ~/.gitconfig.local

[pretty]
  compact=%h %ad, %s
  f-lg1=%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)
  f-lg1-1=%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)[%an]%C(reset)%C(auto)%d%C(reset)
  f-lg2=%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)
  f-g=%C(yellow)%h%C(reset) - %s%d %C(dim white)- %an%C(reset)
  f-q=%an, %h, %ar, %s
  f-json={%n  \"commit\": \"%H\",%n  \"abbreviated_commit\": \"%h\",%n  \"tree\": \"%T\",%n  \"abbreviated_tree\": \"%t\",%n  \"parent\": \"%P\",%n  \"abbreviated_parent\": \"%p\",%n  \"refs\": \"%D\",%n  \"encoding\": \"%e\",%n  \"subject\": \"%s\",%n  \"sanitized_subject_line\": \"%f\",%n  \"body\": \"%b\",%n  \"commit_notes\": \"%N\",%n  \"verification_flag\": \"%G?\",%n  \"signer\": \"%GS\",%n  \"signer_key\": \"%GK\",%n  \"author\": {%n    \"name\": \"%aN\",%n    \"email\": \"%aE\",%n    \"date\": \"%aD\"%n  },%n  \"commiter\": {%n    \"name\": \"%cN\",%n    \"email\": \"%cE\",%n    \"date\": \"%cD\"%n  }%n},

[alias]
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
  visual = !gitk
  st = status -s
  co = checkout
  ci = commit
  br = branch
  cp = cherry-pick
  up = pull --prune
  deleted = log --diff-filter=D --summary

  # log bases
  lg-base = log --graph --abbrev-commit
  lg-base-decorate = !git lg-base --decorate

  # log builds
  lg1 = !git lg-base-decorate --date=relative --format=f-lg1 --all
  lg2 = !git lg-base-decorate --format=f-lg2 --all
  lg3 = !git lg-base-decorate --pretty=oneline --stat
  lg4 = !git lg-base --pretty=oneline --stat
  lg5 = log --oneline --reverse
  lgg = !git lg-base-decorate --format=f-g

  # interesting diffs
  ds = diff --staged
  wd = diff --word-diff --ignore-all-space
  wds = !git wd --staged

  # current branch name
  current-br = !git branch | cut -b3-

  # incoming changes - like hg
  incoming = !git fetch && git lg3  $(git current-br)..origin/$(git current-br)
  in = !git incoming
  in-diff =  !git fetch && git diff $(git current-br)..origin/$(git current-br)

  # outgoing changes - like hg
  outgoing = !git lg3  origin/$(git current-br)..$(git current-br)
  out = !git outgoing
  out-diff = !git diff origin/$(git current-br)..$(git current-br)

  # make remote braches local
  remote-local = $(!git br -a | sed "s;remotes/origin/;;" | grep -v master | xargs -Isnip git co snip)

[core]
  editor = vi
	excludesfile = ~/.gitignore_global
  commentchar = :

[push]
  default = simple

[fetch]
  prune = true

[pager]
  tag = off
  branch = off

[color "decorate"]
  HEAD = red
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
