[user]
  name = Tom Jordan
  email = tdjordan@gmail.com

[include]
  path = ~/.gitconfig.local
  path = ~/.config/delta/themes.gitconfig

[init]
  defaultBranch = main

[pretty]
  compact=%h %ad, %s
  f-lg1=%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)
  f-lg1-1=%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)[%an]%C(reset)%C(auto)%d%C(reset)
  f-lg2=%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)
  f-g=%C(yellow)%h%C(reset) - %s%d %C(dim white)- %an%C(reset)
  f-q=%an, %h, %ar, %s
  f-json={%n  \"commit\": \"%H\",%n  \"abbreviated_commit\": \"%h\",%n  \"tree\": \"%T\",%n  \"abbreviated_tree\": \"%t\",%n  \"parent\": \"%P\",%n  \"abbreviated_parent\": \"%p\",%n  \"refs\": \"%D\",%n  \"encoding\": \"%e\",%n  \"subject\": \"%s\",%n  \"sanitized_subject_line\": \"%f\",%n  \"body\": \"%b\",%n  \"commit_notes\": \"%N\",%n  \"verification_flag\": \"%G?\",%n  \"signer\": \"%GS\",%n  \"signer_key\": \"%GK\",%n  \"author\": {%n    \"name\": \"%aN\",%n    \"email\": \"%aE\",%n    \"date\": \"%aD\"%n  },%n  \"committer\": {%n    \"name\": \"%cN\",%n    \"email\": \"%cE\",%n    \"date\": \"%cD\"%n  }%n},

[alias]
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
  visual = !gitk
  st = status -s
  stu = status -s --untracked-files all .
  co = checkout
  ci = commit
  br = branch
  cp = cherry-pick
  up = pull --prune
  gr = !cd $(git rev-parse --show-toplevel)
  d  = difftool
  dt = difftool
  deleted = log --diff-filter=D --summary
  di = diff
  dif = diff
  dd = !git diff | delta
  ddc = !git diff --cached | delta
  gh = !gh

  # log bases
  lg-base = log --graph --abbrev-commit
  lg-base-decorate = !git lg-base --decorate

  # log builds
  lg1 = !git lg-base-decorate --date=relative --format=f-lg1 --all
  lg2 = !git lg-base-decorate --format=f-lg2 --all
  lg3 = !git lg-base-decorate --pretty=oneline --stat
  lg4 = !git lg-base --pretty=oneline --stat
  lg5 = log --oneline --reverse
  lgg = !git lg-base-decorate --format=f-g

  # interesting diffs
  ds = diff --staged
  wd = diff --word-diff --ignore-all-space
  wds = !git wd --staged

  # current branch name
  current-br = !git branch --show-current

  # incoming changes - like hg
  incoming = !git fetch && git lg3  $(git current-br)..origin/$(git current-br)
  in = !git incoming
  in-diff =  !git fetch && git diff $(git current-br)..origin/$(git current-br)

  # outgoing changes - like hg
  outgoing = !git lg3  origin/$(git current-br)..$(git current-br)
  out = !git outgoing
  out-diff = !git diff origin/$(git current-br)..$(git current-br)

  # make remote braches local
  remote-local = $(!git br -a | sed "s;remotes/origin/;;" | grep -v master | xargs -Isnip git co snip)

  tags = for-each-ref --sort=taggerdate --format=\"%(color:green)%(subject)%(color:reset), tagged: %(refname:short)\n%(taggerdate)\n%(taggername) %(taggeremail)\n\n%(contents:body)\n\" refs/tags
  taghist = for-each-ref --format=\"%(refname:short) %(taggerdate) %(subject) %(body)\" refs/tags
  tags2 = for-each-ref --sort=taggerdate --format=\"%(color:yellow)%(refname:short)%(color:reset)\n%>(4)%(color:green)%(subject)%(color:reset)\nTagger:\t%(taggername) %(taggeremail)\nDate:\t%(taggerdate)\n\n%(*body)\n\" refs/tags

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  commentchar = :

[push]
  default = simple

[fetch]
  prune = true

[pull]
  rebase = false

[pager]
  tag = off
  branch = off
  # diff = delta
  ; show = delta
  ; log = nvim
  ; log = delta
  ; reflog = delta

[color "decorate"]
  HEAD = red

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[diff]
  tool = difftastic
  colorMoved = default

[delta]
  features = default decorations side-by-side
  ; features = default collared-trogon
  ; features = default coracias-caudatus
  ; features = default tangara-chilensis
  ; features = default villsau
  ; features = default wooly-mammoth
  ; whitespace-error-sytle = 22 reverse

[delta "default"]
  line-numbers = true
  zero-style = dim
  ; syntax-theme = tangara-chilensis
  ; true-color = never
  ; file-style = bold yellow
  ; file-decoration-style = none
  navigate = true
  ; commit-decoration-style = ol
  ; hunk-header-file-style = cyan
  ; hunk-header-line-number-style = cyan
  ; hunk-header-style = file line-number
  ; hunk-header-style = omit
  ; hunk-header-style = cyan auto file
  ; hunk-header-decoration-style = cyan ul
  ; hunk-header-decoration-style = cyan box
  ; hunk-header-decoration-style = cyan
  ; tabs = 2
  ; line-numbers-minus-style = 124
  ; line-numbers-minus-style = "#444444"
  ; line-numbers-plus-style = "#444444"
  ; line-numbers-plus-style = 28
  ; line-numbers-left-style = cyan
  ; line-numbers-right-style = cyan
  ; minus-style = auto "#AB4642"
  ; minus-style = "#AB4642" "#A16946"
  ; minus-style = syntax bold auto

[delta "side-by-side"]
  side-by-side = true
  line-numbers-left-format = "{nm:>4} "
  line-numbers-right-format = "{np:>4} "

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  ; hunk-header-decoration-style = yellow box
  hunk-header-decoration-style = yellow
  ; hunk-header-decoration-style = yellow ol
  ; hunk-header-style = omit
