Session.vim
.config/clustershell
.config/nvim/autoload
.config/nvim/colors
.config/nvim/.netrwhist
.config/filezilla
.config/coc
# .config/direnv
.config/gopass
.config/configstore
.DS_Store
.*local
.Trash
.bash_history
.cache
.cargo
.cups
.files.git
.gem
.gradle
.jenv
.lesshst
.local/pipx
.local/share
.local/state
.nix-profile
.npm
.skim
.ssh
.terminfo
.vim
.viminfo
.zcompcache
.zcompdump
.zsh_history
.zsh_sessions
