packer_compiled.lua
packer_compiled.vim
out.me
out.me.2
old.me
out/
.gradle/
.pnpm-debug.log
lsp-install-tom.lua
init.lua.next
x
.project
.settings
.spectral.json
petstore.oas3.json
init.lua.bak
tom.lua
journal
